.change-password-main{
  display: flex;
  flex-direction: column;
  background-color: #F3F2E9;
  height:89vh;
}

.change-password-right{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;;
  height: 95vh;
  width: 600px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 20px;
  transform-style: preserve-3d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.change-password-main .header-container {
  margin: 75px 0px;
}

.header-container .logo-image {
  width: 250px;
  margin-top: 10px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.change-password-right-container {
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
  width: 500px;
  background-color: #F3F2E9;
  height: 60vh;;
  border: 1px double black;
  display: block;
  margin-top: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-heading {
  margin-top: 5px;
  color: #333333; 
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.phone-input {
  width: 100%;
  margin-bottom: 24px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.save-button {
  background-color: #E24845; 
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%; 
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.change-password-center form p{
  margin-bottom: 15px;
}