.change-password-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  width: 600px;
  padding: 50px;
  box-sizing: border-box;
  background: #F3F2E9;
  border-radius: 20px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 1);
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.change-password-right-container {
  height: 80vh;
  width: 500px;
  padding-left: 100px;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 0px 9px 0px rgba(0,0,0,0.15);
  transform: rotateY(0deg) rotateX(0deg);
  transition: background 0.5s ease, transform 0.5s ease-in-out;
}

.change-password-center h2 {
  padding-top: 70px;
}

.change-password-logo img {
  width: 250px;
  margin-top: 10px;
}

.change-password-right-container:hover {
  background: #F3F2E9;
  transform: translateZ(20px);
}

.change-password-main input[type="password"], .change-password-main input[type="text"] { /* Adjusted to include type="text" for visible password fields */
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 12px 15px;
  margin-bottom: 20px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}
  
.change-password-main input[type="password"]:focus, .change-password-main input[type="text"]:focus {
  border-color: #E24845;
  outline: none;
}
  
.change-password-center-buttons button {
  background-color: #E24845;
  color: white;
  padding: 15px 0;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.change-password-main .pass-input-div svg {
  position: absolute;
  right: 35px;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #E24845;
  cursor: pointer;
}
  
  /* Styles for custom toast close button, if needed, can be added here as well */
  